<div id="page" class="content clear">
    <header>
        <h1 class="font-size-xl">Hi, I am Matej Košiarčik</h1>
    </header>
    <div class="content font-size-s">
        I am 21, live in Slovakia and study Computer science. I write mac/iOS apps in my free time.
        When I am not programming, I am cruising around on my unicycle.

        <a class="content-link" href="/_include/text/resume-matej-kosiarcik.pdf">Download my résumé</a>

        <span class="float-right">Matej, 11th August 2017</span>
    </div>
</div>
