{
    "presets": [
        [
            "@babel/preset-env",
            {
                "forceAllTransforms": true,
                "spec": true,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
    ]
}
