---
permalink: /blog/
title: Blog
navigation: true
---

{% assign posts = site.posts | sort: "date" | reverse %}

<div class="articles">
  <!-- prettier-ignore -->
  {% for post in posts %}
  <article class="teaser">
    <section class="header">
      <h1>{{ post.title }}</h1>
    </section>

    <section class="main">
      {{ post.excerpt | truncate: 200 }}
    </section>

    <section class="footer">
      <a href="{{ post.url | relative_url }}">Read</a>
      <div class="categories">
        {% for category in post.category %}<span class="category">{{ category }}</span>{% endfor %}
      </div>
    </section>
  </article>
  {% endfor %}

  <!-- prettier-ignore -->
  {% assign post_count = site.posts | size %}

  <!-- prettier-ignore -->
  {% if post_count == 0 %}
    There are currently no posts...
  {% endif %}
</div>
