---
permalink: /
title: Home
navigation: true
---

<section>
  <h1>Hi, I am Matej Košiarčik and I program stuff</h1>

  <p>
    This page is a WIP, so check out my
    <a href="https://github.com/matejkosiarcik">github projects</a>
    in the meantime.
  </p>
</section>

<!-- TODO: enable following section -->
<!-- <section>
  <h2>Recent posts</h2>

  <div class="articles">
    {% for post in site.posts limit:2 %}
      {% include blogpost-teaser.html.liquid %}
    {% endfor %}
  </div>

  <p>
    <a href="/blog">See all</a>
  </p>
</section> -->
