@import 'constants';
@import 'normalize';

// Normalizing
html,
body {
    height: 100%;
}

// Styling
body {
    background-color: #f2f2f2;
    color: $text-color-default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans', Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
}

a {
    transition: color .25s;
    color: $text-color-light;
    text-decoration: underline;

    &:hover {
        color: $text-color-dark;
    }
}

.font-XXL {
    font-size: 10em;
}

.font-XL {
    font-size: 2.1em;
}

.font-L {
    font-size: 1.7em;
}

// Positioning & Styling
.container {
    position: relative;
    width: 600px;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.footer {
    padding-bottom: 30px;
}
