### Redirecting ###
# Turn on rewriting with basic setup
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>

# Force HTTPS
<IfModule mod_rewrite.c>
    # local server
    RewriteCond ${HTTP_HOST} !^binarytrex.com$ [NC]
    RewriteCond %{HTTPS} !^on$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=302]

    # production server
    RewriteCond %{HTTP_HOST} ^binarytrex.com$ [NC]
    RewriteCond %{SERVER_PORT} !^443$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=302]
</IfModule>

# Remove leading www
# eg. from "www.server.domain/..." to "server.domain/..."
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [L,R=302]
</IfModule>

# Squeeze multiple slashes
# eg. from "example.com///foo//" to "example.com/foo/"
<IfModule mod_rewrite.c>
    RewriteCond %{THE_REQUEST} //
    RewriteRule ^(.*)$ $1 [L,R=302]
</IfModule>

# Ensure files are accessed without trailing slash
# eg. from "example.com/foo.bar/" to "example.com/foo.bar"
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ $1 [L,R=302]
</IfModule>

# Internal rewrite for files that should be in root
<IfModule mod_rewrite.c>
    RewriteRule ^favicon\.ico$ _include/images/$0 [L]
    RewriteRule ^robots\.txt$ _include/config/$0 [L]
</IfModule>

### Errors ###
# Serve custom error pages
ErrorDocument 400 /error/400
ErrorDocument 401 /error/401
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 405 /error/405
ErrorDocument 406 /error/406
ErrorDocument 407 /error/407
ErrorDocument 408 /error/408
ErrorDocument 409 /error/409
ErrorDocument 410 /error/410
ErrorDocument 411 /error/411

ErrorDocument 500 /error/500
ErrorDocument 501 /error/501
ErrorDocument 502 /error/502
ErrorDocument 503 /error/503
ErrorDocument 504 /error/504
ErrorDocument 505 /error/505

<IfModule mod_rewrite.c>
    RewriteRule ^error/([4|5][0-9]{2})$ error/ [L]
</IfModule>

### Security ###
# Disable hotlinking (only for production server)
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^binarytrex.com$ [NC]
    RewriteCond %{HTTP_REFERER} !^$
    RewriteCond %{HTTP_REFERER} !^http(s?)://(test\.|www\.)?binarytrex.com/(.*)$ [NC]
    RewriteCond %{REQUEST_URI} !^(.*)/favicon\.(ico|png|svg)$ [NC]
    RewriteRule \.(bmp|css|gif|ico|jpe?g|js|png|svg)$ - [F,L]
</IfModule>

# Filter request methods
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_METHOD} !^(get|head|post)$ [NC]
    RewriteRule ^(.*)$ - [F,L]
</IfModule>
