<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head.html }}
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body>
        <div class="container">
            <!-- placeholder, this item goes on top -->
            <!-- so that section.body goes in center -->
            <div></div>

            <section class="body">
                <div class="header">
                    <h1 class="text-XL">
                        <!-- fix for elinks centering (off by 1 char) -->
                        <span class="hidden">&nbsp;</span>
                        Hi, I am Matej Košiarčik
                    </h1>
                    <p class="text-L">
                        and I create software
                    </p>
                </div>
                <ul class="apps">
                    <li class="app">
                        <a href="zenplayer">
                            <img src="images/zenplayer.svg" class="icon" alt="ZenPlayer"/>
                        </a>
                        <p class="description">
                            <strong>ZenPlayer</strong>
                            <br>
                            minimal music player
                            for Mac
                        </p>
                    </li>
                    <li class="app">
                        <a href="https://github.com/matejkosiarcik/stopwatch">
                            <img src="images/stopwatch.svg" class="icon" alt="Stopwatch"/>
                        </a>
                        <p class="description">
                            <strong>Stopwatch</strong>
                            <br>
                            simple time tracking cli app
                        </p>
                    </li>
                </ul>
            </section>

            <!-- this is div and not footer -->
            <!-- because elinks does not recognize html5 tags -->
            <!-- and subsequently does not center it -->
            <div class="footer">
                Contact:
                <a href="https://twitter.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">TWITTER</a>
                |
                <a href="https://linkedin.com/in/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">LINKEDIN</a>
                |
                <a href="https://github.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">GITHUB</a>
                |
                <a href="mailto:matejkosiarcik@gmail.com" rel="nofollow" title="matejkosiarcik@gmail.com" target="">EMAIL</a>
            </div>
        </div>
    </body>
</html>
