<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head.html }}
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="container">
            <section class="body">
                <div class="header">
                    <h1 class="font-XL">
                        <span class="hidden">&nbsp;</span> <!-- fix for elinks centering (off by 1 char) -->
                        Hi, I am Matej Košiarčik
                    </h1>

                    <p class="font-L">
                        and I create software
                    </p>
                </div>

                <ul class="apps">
                    <li class="app">
                        <a href="zenplayer">
                            <img src="_images/zenplayer.svg" class="icon" alt="ZenPlayer" style="display:inline-block"/>
                        </a>
                        <p class="description">
                            <strong>ZenPlayer</strong>
                            <br>
                            minimal music player
                            for Mac
                        </p>
                    </li>
                    <li class="app">
                        <a href="https://github.com/matejkosiarcik/stopwatch">
                            <img src="_images/stopwatch.svg" class="icon" alt="Stopwatch" style="display:inline-block"/>
                        </a>
                        <p class="description">
                            <strong>Stopwatch</strong>
                            <br>
                            simple time tracking cli app
                        </p>
                    </li>
                </ul>
            </section>
            <footer class="footer">
                Contact:
                <a href="https://twitter.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">TWITTER</a> |
                <a href="https://linkedin.com/in/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">LINKEDIN</a> |
                <a href="https://github.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">GITHUB</a> |
                <a href="mailto:matejkosiarcik@gmail.com" rel="nofollow" title="matejkosiarcik@gmail.com" target="">EMAIL</a>
            </footer>
        </div>
    </body>
</html>
