section.body {
    // for desktop/wide-screen could be 70
    // but for mobile/narrow-screen is 80+ minimum
    padding-bottom: 85px;
}

// fix for elinks, does not support multiple classes or html5 elements
.hidden {
    display: none;
}

ul.apps {
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

.app {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;

    .icon {
        width: 45%;
        transition: width .5s;
    }

    .description {
        position: relative;
        left: -50%;
        width: 200%;
        transition: opacity .25s;
        opacity: 0;
    }

    &:hover {
        .icon {
            width: 65%;
        }

        .description {
            opacity: 1;
        }
    }
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
