version: 2.1

workflows:
  version: 2
  circleci-build:
    jobs:
      - linux:
          matrix:
            parameters:
              image:
                - debian:stable
                - ubuntu
                - ubuntu:rolling

commands:
  prepare:
    steps:
      - run:
          name: Update system package managers
          command: |
            if command -v apt-get >/dev/null 2>&1; then apt-get update --yes; fi
            if command -v apk >/dev/null 2>&1; then apk update --no-cache; fi
            if command -v yum >/dev/null 2>&1; then command -v dnf >/dev/null 2>&1 || yum install -y dnf; fi
  build:
    steps:
      - run: make

jobs:
  linux:
    parameters:
      image:
        type: string
    docker:
      - image: "<< parameters.image >>"
    steps:
      - checkout
      - prepare
      - run: DEBIAN_FRONTEND=noninteractive apt-get install --yes build-essential curl ruby pandoc zlib1g zlib1g-dev imagemagick
      - run: curl -sL https://deb.nodesource.com/setup_14.x | bash - && apt-get install --yes nodejs
      - build
