<!DOCTYPE html>
<html lang="en" class="no-js no-touch">
    <head>
        {{> head.html }}
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body class="font-size-m text-color-default">
        <div id="main-container">
            {{> header.html }}
            <div id="page" class="content clear">
                <header>
                    <h1 class="font-size-xl">ZenPlayer</h1>
                </header>
                <div class="content font-size-s">
                    <div class="features">
                        {{# features }}
                            <div class="feature">
                                <div class="icon-container">
                                    <img src="_images/{{ image }}" class="icon no-selection" alt="{{ alt }}">
                                </div>
                                <span class="description font-size-l">
                                    {{ description }}
                                </span>
                            </div>
                        {{/ features }}
                    </div>
                    <div class="download font-size-xl">
                        <a href="https://appstore.com/mac/zenplayer" class="download-link" title="ZenPlayer at App Store" target="_blank">
                            Download on the App&nbsp;Store
                        </a>
                    </div>
                </div>
            </div>
        {{> footer.html }}
        </div>
    </body>
</html>
