<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head.html }}
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            {{> header.html }}
            <div class="content">
                <header>
                    <h1><img src="/_images/zenplayer.svg" alt=""> ZenPlayer</h1>
                </header>
                <p>ZenPlayer is simple music player for Mac.</p>
                <table>
                    <tr>
                        <td><img class="feature-icon" src="_images/File.svg" alt=""></td>
                        <td>Play all your favourite music in .mp3, .m4a, .aac and more.</td>
                    </tr>
                    <tr>
                        <td><img class="feature-icon" src="_images/Dock.svg" alt=""></td>
                        <td>Your dock stays clean, app shows just tiny menu bar icon.</td>
                    </tr>
                    <tr>
                        <td><img class="feature-icon" src="_images/Shuffle.svg" alt=""></td>
                        <td>Linear, repeat one, random, listen your own way.</td>
                    </tr>
                </table>
                <p>
                    Check it out on
                    <a href="https://appstore.com/mac/zenplayer" rel="nofollow" target="_blank">App Store</a>
                </p>
            </div>
            {{> footer.html }}
        </div>
    </body>
</html>
