*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
  line-height: 1.25;
}

html.no-js .js {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (--tablet-and-desktop) {
    max-width: calc(70vw + 200px);
  }

  @media (--desktop) {
    max-width: calc(50vw + 400px);
  }
}

h1,
h2,
h3 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
table,
pre,
p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

article.full .main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  table,
  pre,
  p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
