// links
a {
  transition: color 0.2s;
  color: var(--fg-color);

  &:hover {
    color: var(--fg-color-alt);
  }
}

// heading fonts
@for $i from 1 through 2 {
  h#{$i} {
    font-weight: 300;
  }
}

h3,
th {
  font-weight: 500;
}

@for $i from 4 through 6 {
  h#{$i} {
    font-weight: 600;
  }
}
