// links
a {
  transition: color 0.2s;
  color: inherit;

  &:hover {
    color: var(--fg-color-alt);
  }
}

// headings

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 1.5rem;
}

h3,
th,
thead {
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

h6 {
  font-weight: 600;
}
