// links
a {
  transition: color 0.2s;
  color: inherit;

  &:hover {
    color: var(--highlight-color);
  }
}

// headings

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 1.9rem;
  font-weight: 200;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

th,
thead {
  font-weight: 600;
}

// misc

.strikethrough {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}
