{% assign current_url = page.url | regex_replace: "/+$", "" %}
{% assign navigation_pages = site.pages | where_exp: "page", "page.navigation == true" | sort: "url" %}

<header>
  <input type="checkbox" id="menu-checkbox" name="menu-checkbox" />
  <label for="menu-checkbox">
    <span class="hamburger hamburger--spin" tabindex="0" role="button" aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </span>
  </label>

  <nav id="navigation" class="container">
    <ul>
      {% for page in navigation_pages %}
        {% assign page_url = page.url | regex_replace: "/+$", "" %}

        {% if current_url == page_url %}
          {% assign li_start = 'class="active"' %}
        {% else %}
          {% assign li_start = '' %}
        {% endif %}

        {% if page_url == "" %}
          {% assign page_url = "/" %}
        {% endif %}

        <li {{ li_start }}>
          <a href="{{ page_url }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
