<!-- class (indicating current page id) for body -->
{% capture class %}
  {% if page.layout == "post" %}
    blog-post
  {% else %}
    {{ page.name | regex_replace: "\..+$", "" }}
  {% endif %}
{% endcapture %}
{% assign class = class | strip %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  <body class="{{ class }}" data-instant-allow-external-links>
    {% include header.html %}
    <main class="container content">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default" nomodule defer crossorigin="anonymous"></script> <!-- only for semi-old browsers -->
  </body>
</html>
