@use 'sass:color';

// generic backgrounds
$bg-color-light: #fafafa;
$bg-color-light-alt: color.adjust($bg-color-light, $lightness: -20%);
$bg-color-dark: #121212;
$bg-color-dark-alt: color.adjust($bg-color-dark, $lightness: 20%);

// generic foregrounds
$fg-color-light: #333;
$fg-color-light-alt: color.adjust($fg-color-light, $lightness: 20%);
$fg-color-dark: #fafafa;
$fg-color-dark-alt: color.adjust($fg-color-dark, $lightness: -15%);
$fg-color-light-faded: #a0a0a0;
$fg-color-dark-faded: #888;

// highlight-color
$accent-color-light: #e2eaf2;
$accent-color-dark: #151a20;
$highlight-color: #369;

:root {
  // only light mode
  --bg-color: #{$bg-color-light};
  --bg-color-alt: #{$bg-color-light-alt};
  --fg-color: #{$fg-color-light};
  --fg-color-alt: #{$fg-color-light-alt};
  --fg-color-faded: #{$fg-color-light-faded};
  --highlight-color: #{$highlight-color};
  --accent-color: #{$accent-color-light};

  // only dark mode
  @media (--dark) {
    --bg-color: #{$bg-color-dark};
    --bg-color-alt: #{$bg-color-dark-alt};
    --fg-color: #{$fg-color-dark};
    --fg-color-alt: #{$fg-color-dark-alt};
    --fg-color-faded: #{$fg-color-dark-faded};
    --accent-color: #{$accent-color-dark};
  }
}
