// fix for elinks, does not support multiple classes or html5 elements
.hidden {
    display: none;
}

.apps {
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

.app {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;

    .icon {
        padding-top: 20%;
        width: 45%;
        transition: .5s width, .5s padding;
    }

    .description {
        position: relative;
        left: -50%;
        width: 200%;
        transition: opacity .3s;
        opacity: 0;
    }

    &:hover {
        .icon {
            padding-top: 0;
            width: 65%;
        }

        .description {
            opacity: 1;
        }
    }
}

.footer {
    text-align: center;
}
