<div id="page" class="content clear">
    <header>
        <h1 class="font-size-xl">Hi, I am Matej Košiarčik</h1>
    </header>
    <div class="content font-size-s">
        <img class="myself no-select"
            src="_images/matej.jpg" srcset="_images/matej@2x.jpg 2x, _images/matej@3x.jpg 3x"
            alt="Matej Košiarčik">

        <p class="font-size-l">
            I'm 21, live in Slovakia, and study Computer science and occasionally eat pizza.
        </p>

        <p>
            I write mac/iOS apps in my free time. See few examples at <a class="content-link" href="/">home</a>.
            Outside of programming, I like reading books and unicycling.
        </p>

        <p class="float-right">
            Matej, 13th August 2017
        </p>
    </div>
</div>
