{{> start.html }}

<header>
    <h1 class="font-size-xl">Hi, I am Matej Košiarčik</h1>
</header>
<div class="content font-size-s">
    <img class="myself no-select"
        src="_images/matej.jpg" srcset="_images/matej@2x.jpg 2x, _images/matej@3x.jpg 3x"
        alt="Matej Košiarčik">

    <p class="font-size-l">
        I'm 21, live in Slovakia, study Computer science, create apps and eat pizza.
    </p>

    <p>
        I write mac/iPhone apps. See few examples at <a class="content-link" href="/">home</a>.
        In my free time I like to read books and unicycle around hills.
    </p>

    <p class="float-right">
        Matej, 5th September 2017
    </p>
</div>

{{> end.html }}
