body > header {
  margin-bottom: 50px;

  @media (--phone) {
    border-bottom: 1px solid var(--fg-color);
  }

  @media (--tablet-and-desktop) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav {
    height: 0;
    overflow: hidden;

    @media (--tablet-and-desktop) {
      height: auto !important;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0; // reset default browser style
    list-style: none;

    @media (--phone) {
      margin: 0 -15px; // reset .container padding to extend buttons to the edge of the screen
    }
  }

  li {
    text-align: center;

    @media (--phone) {
      width: 100%;
    }

    @media (--tablet-and-desktop) {
      margin-right: 15px;
    }

    &.active a {
      text-decoration: underline;
    }
  }

  a,
  label {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
      background-color: var(--highlight-color);
      // color: var(--bg-color);
      color: $fg-color-dark;
    }

    @media (--phone) {
      display: inline-block;
      padding-top: 25px;
      padding-bottom: 25px;
      background: inherit;
    }
  }

  a {
    display: block;
    text-decoration: none;

    @media (--tablet-and-desktop) {
      padding: 10px 15px;
      border-radius: 7px;
    }

    &:hover {
      text-decoration: none !important;
    }
  }

  label {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    text-align: center;
    cursor: pointer;

    @media (--tablet-and-desktop) {
      display: none;
    }

    // size for hamburger button
    svg {
      width: 30px;
      height: 30px;
    }
  }

  // MARK: Navigation button for mobile

  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }

  input[type='checkbox']:checked ~ label .hamburger {
    @extend .is-active;
  }
}

.no-js header {
  @media (--phone) {
    input[type='checkbox'] ~ nav {
      transition: height 0.4s;
    }

    input[type='checkbox']:checked ~ nav {
      height: auto;
    }
  }
}
