<?php
$user_url = $_SERVER["REQUEST_URI"];
$statuses = array(
    403 => "You don't have access to this resource",
    404 => "The requested URL \"$user_url\" was not found",
);

$status = $_GET["code"];
http_response_code($status);

$description = $statuses[$status];
if (empty($description)) { $description = "Unknown error occured"; }
?>

{{> start.html}}

<div class="content">
    <div class="status"> <?php echo $status; ?> </div>
    <div class="description font-size-l">
        <p> <?php echo $description; ?> </p>
        <p> Back to <a class="content-link" href="/">home</a> </p>
    </div>
</div>

{{> end.html}}
