<body class="font-size-m text-color-default">
     <div id="main-container">
        {{> header.html }}
        {{> index.html }}{{> index.php }} <!-- Most pages use .html, but errors use .php -->
        {{> footer.html }}
     </div>

     <script src="/_include/scripts/main.js" defer></script>
</body>
