<footer>
    Contact:
    <a href="https://twitter.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">TWITTER</a> |
    <a href="https://linkedin.com/in/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">LINKEDIN</a> |
    <a href="https://github.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">GITHUB</a> |
    <a href="mailto:matejkosiarcik@gmail.com" rel="nofollow" title="matejkosiarcik@gmail.com" target="">EMAIL</a>
</footer>
