<!-- basics -->
<meta charset="UTF-8">
<title>{{ title }}</title>

<!-- meta general -->
<meta name="author" content="Matej Košiarčik">
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- styles -->
<link rel="stylesheet" type="text/css" href="/_include/styles/main.css">

<!-- favourite icon -->
<link rel="icon" type="image/png" href="/_include/images/favicon.png">
<!--[if IE]>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<![endif]-->

<!-- Safari pin icon -->
<link rel="mask-icon" href="/_include/images/pinicon.svg" color="#26ad5f">
