<header class="clear">
    <a class="no-decoration" href="/" title="Go back to home page">
        <img class="logo no-selection" src="/_include/images/logo.svg" alt="T-rex">
    </a>
    <nav class="float-right">
        <a class="info-link" href="/" rel="author" title="Go back to home page">Home</a>
    </nav>
</header>
