<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basics -->
    <meta charset="UTF-8"/>
    <title>{% block title %}Matej Košiarčik - software developer{% endblock %}</title>
    <meta name="author" content="Matej Košiarčik"/>
    <meta name="keywords" content="{% block keywords %}programmer, software, minimalist{% endblock %}"/>
    <meta name="description" content="{% block description %}I am Matej Košiarčik, software creator. iOS/mac apps, web development, cli programs.{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <meta name="revised" content="2019-04-17" />

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon.png">
    <!--[if IE]>
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <![endif]-->
    <link rel="mask-icon" href="/pinicon.svg" color="#369">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="bundle.js" defer async></script>
  </body>
</html>
