{% extends "_main.html.j2" %}

{% block content %}
  <div class="content content--left">
    <h1>I'm Matej Košiarčik</h1>
    <h2>software developer & student</h2>
  </div>

  <div class="aside">
    <h2>Check out my projects</h2>
    <ul>
      <li>
        <table>
          <tr>
            <td>
              <img src="images/zenplayer.svg" alt="ZenPlayer"/>
            </td>
            <td>
              <h3>ZenPlayer</h3>
              <p>minimal music player for Mac</p>
              <p>See it on <i class="strike-through">App Store</i></p>
            </td>
          </tr>
        </table>
      </li>
      <li>
        <table>
          <tr>
            <td>
              <img src="images/terminal.svg" alt="Stopwatch"/>
            </td>
            <td>
              <h3>Stopwatch</h3>
              <p>simple time tracking cli app</p>
              <p>See it on <a href="https://github.com/matejkosiarcik/stopwatch" target="_blank" rel="nofollow noopener">GitHub</a></p>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

  <div class="footer footer--left">
    <a href="https://twitter.com/matejkosiarcik" target="_blank" rel="nofollow noopener">TWITTER</a>
    |
    <a href="https://linkedin.com/in/matejkosiarcik" target="_blank" rel="nofollow noopener">LINKEDIN</a>
    |
    <a href="https://github.com/matejkosiarcik" target="_blank" rel="nofollow noopener">GITHUB</a>
    |
    <a href="mailto:matejkosiarcik@gmail.com" rel="nofollow noopener">EMAIL</a>
  </div>
{% endblock %}
