{% extends "_main.html.j2" %}

{% block title %}ZenPlayer - minimal music player for Mac{% endblock %}
{% block keywords %}app, mac, iphone, music{% endblock %}
{% block description %}ZenPlayer - minimalistic way to listen to music. From Mac user. To Mac users.{% endblock %}

{% block content %}
    <div class="content">
        <h1><img src="/images/zenplayer.svg" alt=""> ZenPlayer</h1>
        <p>This subpage is in reconstruction</p>
        <p>Check it out on <a href="https://appstore.com/mac/zenplayer" rel="nofollow" target="_blank">App Store</a></p>
    </div>

    <div class="footer">
        <a href="/">About</a>
    </div>
{% endblock %}
