<!DOCTYPE html>
<html lang="en">
    {{> head.html }}
    <body>
        <div class="content">
            <h1><img src="/images/zenplayer.svg" alt=""> ZenPlayer</h1>
            <p>This subpage is in reconstruction</p>
            <p>Check it out on <a href="https://appstore.com/mac/zenplayer" rel="nofollow" target="_blank">App Store</a></p>
        </div>

        <div class="footer">
            <a href="/">About</a>
        </div>
        <script src="script.js" defer async></script>
    </body>
</html>
