<footer class="clear">
    <div class="contacts">
        <span class="font-size-xs text-color-default">
            Contact:
            <a class="info-link" href="https://twitter.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">TWITTER</a> |
            <a class="info-link" href="https://linkedin.com/in/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">LINKEDIN</a> |
            <a class="info-link" href="https://github.com/matejkosiarcik" rel="nofollow" title="@matejkosiarcik" target="_blank">GITHUB</a> |
            <a class="info-link" href="mailto:matej@binarytrex.com" rel="nofollow" title="matej@binarytrex.com" target="">EMAIL</a>
        </span>
    </div>
</footer>
