<head>
    <!-- basics -->
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- meta general -->
    <meta name="author" content="Matej Košiarčik">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- styles -->
    <link rel="stylesheer" type="text/css" href="/_include/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/_include/styles/main.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Safari pin icon -->
    <link rel="mask-icon" href="/_include/images/favicon_monochrome.svg" color="#26ad5f">

    <!-- is scripting enabled -->
    <script type="text/javascript">
        var features = document.documentElement.classList;
        features.remove("no-js");
        features.add("js");
    </script>
</head>
