<header class="clear">
    <a class="no-decoration medium-font" href="/">
        <img class="site-logo" src="/_include/assets/images/trex.svg" alt="Binary T-Rex">
    </a>
    <a class="no-decoration medium-font" href="/about" rel="author" title="Learn more about me">About</a>
</header>
