<header class="clear">
    <a class="no-decoration no-selection" href="/" title="Go back to home page">
        <img class="site-logo" src="/_include/images/trex.svg" alt="Binary T-Rex">
    </a>
    <nav class="float-right">
        <a class="no-decoration text-color-light" href="/" rel="author" title="Go back to home page">Home</a>
        <a class="no-decoration text-color-light" href="/about" rel="author" title="Learn more about me">About</a>
    </nav>
</header>
