<head>
    <!-- basics -->
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- meta general -->
    <meta name="author" content="Matej Košiarčik">
    <meta name="copyright" content="Copyright © 2017 Matej Kosiarcik. All rights reserved.">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/shared/styles/main.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
