body.blogpost {
  @media (--dark) {
    img {
      // filter: grayscale(30%);
      transition: opacity 0.2s ease-in-out;
      opacity: 0.75;

      &:hover {
        opacity: 1;
        // filter: grayscale(0);
      }
    }
  }
}
