main.home {
  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    margin-bottom: 2rem;
  }

  section {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
