.zenplayer {
  text-align: center;

  main {
    margin-top: 100px;
  }

  .gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    > * {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  footer {
    margin-top: 25px;

    img {
      width: 1.2em;
      height: 1.2em;
      vertical-align: text-bottom;
    }
  }
}
