<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head.html }}
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body>
        <div class="container">
            <!-- placeholder, this item goes on top -->
            <!-- so that content goes in center -->
            <div></div>

            <div class="content">
                <h1 class="text-XL">
                    <img src="/images/zenplayer.svg" alt="">
                    ZenPlayer
                </h1>
                <p>
                    This subpage is in <strong>reconstruction</strong>
                </p>
                <p>
                    check it out on
                    <a href="https://appstore.com/mac/zenplayer" rel="nofollow" target="_blank">App Store</a>
                </p>
            </div>

            <div class="footer">
                <a href="/">About</a>
            </div>
        </div>
    </body>
</html>
